*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root
{
    --blue:#287bff;
    --white:#fff;
    --grey:#f5f5f5;
    --black1:#555;
    --black2:#999;
}
body{
    min-height: 100vh;
    width: 100%;
}
#right {
		
		margin-left: 150px;
		width: 80%;
		height: 1500PX;
	}
.sidebar{
    position: fixed;
    height: 100%;
    width: 240px;
    background:var(--black1)
}
.sidebar.active{
    width: 60px;
}
.sidebar .logo-details{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details ion-icon{
    font-size: 28px;
    font-weight: 500;
    color: var(--blue);
    min-width: 60px;
    text-align: center;
}
.sidebar .logo-details .logo-name{
    font-size: 24px;
    font-weight: 500;
    color: var(--blue);

}
.sidebar .nav-link{
    margin-top: 16px;
}
.sidebar .nav-link li{
    height: 50px;
    width: 100%;
    list-style: none;
}
.sidebar .nav-link li:nth-child(3){
    border-left: 4px solid #fff;
}
.sidebar .nav-link li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s ease;
}
.sidebar .nav-link li:hover a{
    border-bottom: 1px solid #fff;
}
.sidebar .nav-link li a:hover{
    background: #081D45;
}
.sidebar .nav-link li a ion-icon{
    min-width: 60px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.sidebar .nav-link li a .link-name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}
.home-section{
    background: #f5f5f5;
    position: relative;
    min-height: 100vh;
    width: calc(100%-240px);
    margin-left: 240px;
}
.home-section nav{
    height: 80px;
    background: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-section nav .sidebar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}
.home-section nav .sidebar-button ion-icon{
    font-size: 35px;
    margin-right: 10px;

}
.home-section nav .search-box{
    height: 50px;
    width: 550px;
    margin: 0 20px;
    position: relative;
}
nav .search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 17px;
    background: #f5f5f5;
    border: 2px solid #EFEEF1;
    outline: none;
}
nav .search-box ion-icon{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background: #2697ff;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}
.home-section nav .protile-details{
    display: flex;
    align-items: center;
    height: 50px;
    min-width: 190px;
    background:#f5f5f5;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    padding: 0 15px 0 2px;
}
nav .protile-details img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 6px;
}
nav .protile-details .admin{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}
nav .protile-details ion-icon{
    color: #333;
    font-size: 25px;
}
.home-section .home-content{
    position: relative;
    padding-top: 10px;
}
.viewbox{
    font-size: 18px;
    font-weight: 500;
    background: #fff;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 12px;
    border-left: 10px solid yellow;
}
.nhanvien .table{
    height: 100%;
    width: 100%;
    background: #fff;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 12px;
    border-bottom: 2px solid #999;
}
.nhanvien .table .conti{
    display: flex;
}
.nhanvien li{
    list-style: none;
    margin-left: 10px;
}
.nhanvien li a{
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    color: #333;
}
.one{
    font-size: 14px;
    font-weight: 500;
    background-color: lightgreen;
    color: #111;
    border-radius: 6px;
}
.two{
    font-size: 14px;
    font-weight: 500;
    background-color:darkgoldenrod;
    color: #111;
    border-radius: 6px;
}
.three{
    font-size: 14px;
    font-weight: 500;
    background-color:gray;
    color: #111;
    border-radius: 6px;
}
.view{
    display: flex;
}
.board{
    width: 100%;
    margin: 30px 0 30px 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
    margin-top: 30px;
}
.board img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}
.board h5{
    font-size: 14px;
    font-weight: 600;
}
.board p{
    font-weight: 400;
    font-size: 13px;
}
.board .people{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}
table{
    border-collapse: collapse;
}
td{
    border: 1px solid #111827;
}
thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background:#999;
    text-align: start;
    padding: 15px;
}
thead tr{
    margin-right: 40px;
}
tbody tr td{
    padding: 10px 15px;
}
.edit{
    font-size: 20px;
}
.edit a{
    text-decoration: none;
    padding: 3px 1px 1px 2px;
}
.one1{
    background: lightcoral;
    color: red;
}
.one2{
    background: lightsalmon;
    color: lightpink;
}
#one{
    background-color: lightgreen;
    color: green;
    text-align: center;
    border-radius: 5px;
    width: 80px;
}
#two{
    width: 80px;
    background-color: lightcoral;
    color: red;
    text-align: center;
    border-radius: 5px;
}
div #show{
    margin: 0 auto;
    margin-top: 20px;
}
div #show td{
    text-align: center;
}
