*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root
{
    --blue:#287bff;
    --white:#fff;
    --grey:#f5f5f5;
    --black1:#555;
    --black2:#999;
}
body{
    min-height: 100vh;
    width: 100%;
}
.sidebar{
    position: fixed;
    height: 100%;
    width: 240px;
    background:var(--black1)
}
.sidebar.active{
    width: 60px;
}
.sidebar .logo-details{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details ion-icon{
    font-size: 28px;
    font-weight: 500;
    color: var(--blue);
    min-width: 60px;
    text-align: center;
}
.sidebar .logo-details .logo-name{
    font-size: 24px;
    font-weight: 500;
    color: var(--blue);

}
.sidebar .nav-link{
    margin-top: 16px;
}
.sidebar .nav-link li{
    height: 50px;
    width: 100%;
    list-style: none;
}
.sidebar .nav-link li:nth-child(4){
    border-left: 4px solid #fff;
}
.sidebar .nav-link li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s ease;
}
.sidebar .nav-link li:hover a{
    border-bottom: 1px solid #fff;
}
.sidebar .nav-link li a:hover{
    background: #081D45;
}
.sidebar .nav-link li a ion-icon{
    min-width: 60px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.sidebar .nav-link li a .link-name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}
.home-section{
    background: #f5f5f5;
    position: relative;
    min-height: 100vh;
    width: calc(100%-240px);
    margin-left: 240px;
}
.home-section nav{
    height: 80px;
    background: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-section nav .sidebar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}
.home-section nav .sidebar-button ion-icon{
    font-size: 35px;
    margin-right: 10px;

}
.home-section nav .search-box{
    height: 50px;
    width: 550px;
    margin: 0 20px;
    position: relative;
}
nav .search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 17px;
    background: #f5f5f5;
    border: 2px solid #EFEEF1;
    outline: none;
}
nav .search-box ion-icon{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background: #2697ff;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}
.home-section nav .protile-details{
    display: flex;
    align-items: center;
    height: 50px;
    min-width: 190px;
    background:#f5f5f5;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    padding: 0 15px 0 2px;
}
nav .protile-details img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 6px;
}
nav .protile-details .admin{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}
nav .protile-details ion-icon{
    color: #333;
    font-size: 25px;
}
.home-section .home-content{
    position: relative;
    padding-top: 10px;
}
.home-content .viewbox{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 40px;
}
.home-content .viewbox .box{
    width: calc(100% / 4- 15px);
    padding: 15px 14px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 12px;
    justify-content: center;
}
.home-content .viewbox .box-topic{
    font-size: 20px;
    font-weight: 500;
}
.home-content .viewbox .number{
    font-size: 35px;
    font-weight: 500;
    margin-top: -5px;
    display: inline-block;
}
.viewbox .idicator{
    display: flex;
    align-items: center;
}
.viewbox .idicator ion-icon{
    height: 20px;
    width: 20px;
    background: #8FDACB;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 5px;
}
.viewbox .idicator .text{
    font-size: 12px;
}
.viewbox .box .one{
    font-size: 32px;
    font-weight: 500;
    height: 50px;
    width: 50px;
    background:#cce5ff ;
    color:rgb(41, 11, 214);
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
}
.viewbox .box .two{
    background:#cce5ff ;
    color:#001c49 ;
    font-size: 32px;
    font-weight: 500;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
}
.viewbox .box .three{
    background: #cce5ff ;
    color: white;
    font-size: 32px;
    font-weight: 500;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
}
.viewbox .box .for{
    background: #cce5ff;
    color:lightcoral ;
    font-size: 32px;
    font-weight: 500;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
}
.home-section .sales-box{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.sales-box .button{
    width: 100%;
    justify-content: flex-end;
    display: flex;
}
.sales-box .button a{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    background: #0A2558;
    padding: 4px 12px;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.sales-box .button a:hover{
    background: #0d3073;
}
.home-section .sales-box .sale-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-section .sales-box .recent-sale{
    width: 65%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    padding: 20px;
}
.home-section .sales-box .recent-sale .title{
    font-size: 24px;
    font-weight: 500;
}
.home-section .sales-box .recent-sale .topic{
    font-size: 20px;
    font-weight: 500;
}
.home-section .sales-box .recent-sale li{
    list-style: none;
    margin: 8px 0px;
}
.sales-box .recent-sale li a{
    color: #333;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

.home-section .sales-box .top-sale{
    width: 35%;
    margin-left: 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 12px;
}
.sales-box .top-sale li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sales-box .top-sale li a{
    display: flex;
    align-items: center;
}
.sales-box .top-sale img{
    height: 40px;
    width: 40px;
    border-radius: 4px;
    object-fit: cover;
    margin-right: 8px;
}
.top-sale li {
    margin-top: 20px;
}
.top-sale li a{
    text-decoration: none;
}
.top-sale .product-name{
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.color{
    background-color: lightgreen;
    color: greenyellow;
    width: 200px;
    text-align: center;
    border-radius: 4px;
}
.color1{
    background-color: yellow;
    color: yellowgreen;
    width: 200px;
    text-align: center;
    border-radius: 4px;
}
.color2{
    background-color: lightcoral;
    color: red;
    width: 200px;
    text-align: center;
    border-radius: 4px;
}
.color3{
    background-color: blueviolet;
    color: lightblue;
    width: 200px;
    text-align: center;
    border-radius: 4px;
}